/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *
 *= require bootstrap_and_overrides
 %= require theme
 *= require_tree .
 *= require_self
 */

.navbar-space-lg {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.navbar-space {
  margin-top: 4.2rem;
  margin-bottom: 4.2rem;
}

.page-space-lg {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.page-space {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.in-column-space-sm {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
